# description section (required)
[description] 
name       : pemfc_cas1
author     : GF
executable : pemfc_cas1

# dependencies section (optional)
# dependencies format is the following
#
# dependency_name : /path/to/dependency

[dependencies]
# actually, basic doesn't have dependencies
